<form class="relative transform overflow-hidden bg-background shadow-sm ring-1 p-10 ring-gray-900/5">
  <div class="space-y-12 sm:space-y-16">
    <div>
      <h2 class="font-semibold leading-7 text-lg text-primary font-montserrat">Votre Profil</h2>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-secondaryforeground font-montserrat">C'est ici que vous pouvez modifier vos données</p>
      <div class="mt-10 space-y-8 border-b border-border pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-border sm:border-t sm:pb-0">
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="username" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Username</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 sm:max-w-md">
              <input
                type="text"
                name="username"
                id="username"
                autocomplete="username"
                class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                placeholder="Username"
              />
            </div>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6 border-border">
          <label for="cover-photo" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Photo de Profil</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <div class="flex max-w-2xl justify-center rounded-lg border border-dashed border-border px-6 py-10">
              <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-primary" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <div class="mt-4 flex text-sm leading-6 text-secondaryforeground">
                  <label
                    for="file-upload"
                    class="relative cursor-pointer rounded-md bg-background font-semibold text-primary focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
                  >
                    <span>Upload a file</span>
                    <input id="file-upload" name="file-upload" type="file" class="sr-only" />
                  </label>
                  <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs leading-5 text-primary">PNG, JPG, GIF up to 10MB</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="font-semibold leading-7 text-lg text-primary font-montserrat">Information Personnel</h2>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-secondaryforeground font-montserrat">Mettez à jour vos informations personnelles</p>

      <div class="mt-10 space-y-8 border-b border-border pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="first-name" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">First name</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="first-name"
              id="first-name"
              placeholder="Prénom"
              autocomplete="given-name"
              class="block w-full rounded-md border-0 py-1.5 bg-background font-montserrat text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xs sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="last-name" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Last name</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="last-name"
              id="last-name"
              placeholder="Nom"
              autocomplete="family-name"
              class="block w-full rounded-md border-0 py-1.5 bg-background font-montserrat text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xs sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="email" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Email address</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              id="email"
              name="email"
              type="email"
              placeholder="Email"
              autocomplete="email"
              class="block w-full rounded-md border-0 py-1.5 bg-background text-secondaryforeground font-montserrat shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-md sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="country" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Country</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="country"
              id="country"
              placeholder="Pays"
              autocomplete="country"
              class="block w-full rounded-md border-0 py-1.5 bg-background font-montserrat text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xs sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="street-address" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Street address</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="street-address"
              id="street-address"
              placeholder="Adresse"
              autocomplete="street-address"
              class="block w-full rounded-md border-0 py-1.5 font-montserrat bg-background text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xl sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="city" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">City</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="city"
              id="city"
              placeholder="Ville"
              autocomplete="address-level2"
              class="block w-full rounded-md border-0 py-1.5 bg-background font-montserrat text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xs sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="region" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">State / Province</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="region"
              id="region"
              placeholder="Province / Région"
              autocomplete="address-level1"
              class="block w-full rounded-md border-0 py-1.5 bg-background font-montserrat text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xs sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
          <label for="postal-code" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">ZIP / Postal code</label>
          <div class="mt-2 sm:col-span-2 sm:mt-0">
            <input
              type="text"
              name="postal-code"
              id="postal-code"
              autocomplete="postal-code"
              placeholder="Code Postal"
              class="block w-full rounded-md border-0 py-1.5 bg-background font-montserrat text-secondaryforeground shadow-sm ring-1 ring-inset ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:max-w-xs sm:text-sm sm:leading-6"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold font-montserrat leading-6 text-secondaryforeground">Annuler</button>
    <button
      type="submit"
      class="rounded-md bg-primary px-3 py-2 text-sm font-semibold font-montserrat text-secondary shadow-sm hover:font-bold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >
      Modifier
    </button>
  </div>
</form>
