<form [formGroup]="form" class="relative transform overflow-hidden bg-background shadow-sm ring-1 ring-gray-900/5 sm:rounded-sm md:col-span-2">
  <div class="px-4 py-6 sm:p-8">
    <h2 class="font-montserrat font-semibold text-lg text-primary">Création de votre ticket</h2>
    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 pt-6">
      <div class="sm:col-span-6">
        <label for="title" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Sujet de votre demande<span class="ml-2 text-destructive">*</span></label>
        <div class="mt-2">
          <input
            type="text"
            name="title"
            formControlName="title"
            placeholder="Ecrivez le sujet de votre demande"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
          @if (form.controls.title.errors && form.controls.title.touched) {
          <p class="mt-2 text-sm font-montserrat text-destructive" id="email-error">Titre du ticket obligatoire</p>
          }
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="description" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground"
          >Faites votre demande au support<span class="ml-2 text-destructive">*</span></label
        >
        <div class="mt-2">
          <textarea
            type="text"
            rows="4"
            name="description"
            formControlName="description"
            placeholder="Ecrivez votre demande"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          ></textarea>
          @if (form.controls.description.errors && form.controls.description.touched) {
          <p class="mt-2 text-sm font-montserrat text-destructive" id="email-error">Demande obligatoire</p>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-end gap-x-6 border-t border-border px-4 py-4 sm:px-8">
    <button type="button" (click)="cancel()" class="text-sm font-semibold font-montserrat leading-6 text-secondaryforeground">Annuler</button>
    <button
      type="submit"
      [disabled]="form.invalid"
      [class.bg-primary]="!form.invalid"
      [class.bg-blue-100]="form.invalid"
      (click)="createTicket()"
      class="rounded-md bg-primary px-3 py-2 text-sm font-semibold font-montserrat text-secondary shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >
      Envoyer
    </button>
  </div>
</form>
