<form [formGroup]="form" class="relative transform overflow-hidden bg-background shadow-sm ring-1 ring-gray-900/5 sm:rounded-sm md:col-span-2">
  <div class="px-4 py-6 sm:p-8">
    <h2 class="font-montserrat font-semibold text-lg text-secondaryforeground">Données du type de document</h2>
    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 pt-6">
      <div class="sm:col-span-6">
        <label for="name" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Nom du document</label>
        <div class="mt-2">
          <input
            type="text"
            name="name"
            formControlName="name"
            placeholder="Nom du document"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-gray-400 shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
          @if (form.controls.name.errors && form.controls.name.touched) {
          <p class="mt-2 text-sm font-montserrat text-destructive" id="email-error">Nom du type de document obligatoire</p>
          }
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="description" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Description</label>
        <div class="mt-2">
          <textarea
            type="text"
            rows="4"
            name="description"
            formControlName="description"
            placeholder="Description"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-gray-400 shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          ></textarea>
          @if (form.controls.description.errors && form.controls.description.touched) {
          <p class="mt-2 text-sm font-montserrat text-destructive" id="email-error">Description obligatoire</p>
          }
        </div>
      </div>
      <div class="sm:col-span-6">
        <label for="status" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Statut</label>
        <div class="mt-2">
          <select
            name="status"
            formControlName="status"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-gray-400 shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-input focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          >
            <option value="" disabled selected>Choisir le type de document</option>
            <option value="A">Actif</option>
            <option value="I">Inactif</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-end gap-x-6 border-t border-border px-4 py-4 sm:px-8">
    <button type="button" (click)="cancel()" class="text-sm font-semibold font-montserrat leading-6 text-secondaryforeground">Annuler</button>
    @if (selectedDocumentType.id) {
    <button
      type="submit"
      [disabled]="form.invalid"
      [class.bg-primary]="!form.invalid"
      [class.bg-blue-100]="form.invalid"
      (click)="updateDocumentType()"
      class="rounded-md bg-primary px-3 py-2 text-sm font-semibold font-montserrat text-secondary shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >
      Modifier
    </button>
    } @else {
    <button
      type="submit"
      [disabled]="form.invalid"
      [class.bg-primary]="!form.invalid"
      [class.bg-blue-100]="form.invalid"
      (click)="createDocumentType()"
      class="rounded-md bg-primary px-3 py-2 text-sm font-semibold font-montserrat text-secondary shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >
      Ajouter
    </button>
    }
  </div>
</form>
