<form [formGroup]="form" class="relative transform overflow-hidden bg-background shadow-sm ring-1 ring-gray-900/5 sm:rounded-sm md:col-span-2">
  <div class="px-4 py-6 sm:p-8">
    <h2 class="font-montserrat font-semibold text-lg text-primary">Données du Produit</h2>
    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 pt-6">
      <div class="sm:col-span-3">
        <label for="documenttype_id" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Nom du produit</label>
        <div class="mt-2">
          <input
            type="text"
            name="name"
            formControlName="name"
            required
            placeholder="Nom du produit"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
        @if(form.controls.name.errors && form.controls.name.touched) {
        <p class="mt-2 text-sm text-destructive font-montserrat" id="email-error">Nom du produit obligatoire</p>
        }
      </div>
      <div class="sm:col-span-3">
        <label for="brand" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Marque</label>
        <div class="mt-2">
          <input
            type="text"
            name="brand"
            formControlName="brand"
            required
            placeholder="Marque"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
        @if(form.controls.brand.errors && form.controls.brand.touched) {
        <p class="mt-2 text-sm text-destructive font-montserrat" id="email-error">Marque obligatoire</p>
        }
      </div>

      <div class="sm:col-span-3">
        <label for="ean_code" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Code Ean</label>
        <div class="mt-2">
          <input
            type="text"
            name="ean_code"
            formControlName="ean_code"
            required
            placeholder="Code Ean"
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
        @if(form.controls.ean_code.invalid && form.controls.ean_code.touched) {
        <p class="mt-2 text-sm text-destructive font-montserrat" id="email-error">Code Ean obligatoire</p>
        }
      </div>
      <div class="sm:col-span-2">
        <label for="buying_price" class="block font-montserrat text-sm font-medium leading-6 text-secondaryforeground">Prix d'achat</label>
        <div class="mt-2">
          <input
            type="text"
            name="buying_price"
            formControlName="buying_price"
            placeholder="Prix d'achat"
            required
            class="block w-full rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
        @if(form.controls.buying_price.errors && form.controls.buying_price.touched) {
        <p class="mt-2 text-sm text-destructive font-montserrat" id="email-error">Prix d'achat obligatoire</p>
        }
      </div>
      <div class="sm:col-span-2">
        <label for="margin" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Marge</label>
        <div class="mt-2">
          <input
            type="text"
            name="margin"
            formControlName="margin"
            placeholder="Marge"
            required
            class="block w-full pl-3 rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
        @if(form.controls.margin.errors && form.controls.margin.touched) {
        <p class="mt-2 text-sm text-destructive font-montserrat" id="email-error">Marge obligatoire</p>
        }
      </div>

      <div class="sm:col-span-2">
        <label for="discount" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Prix de vente</label>
        <div class="mt-2">
          <input
            type="text"
            name="selling_price"
            (input)="calculateSellingPrice()"
            formControlName="selling_price"
            placeholder="Prix de vente"
            class="block w-full pl-3 rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="description" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Description</label>
        <div class="mt-2">
          <textarea
            rows="4"
            type="text"
            name="description"
            [(ngModel)]="selectedProduct.description"
            formControlName="description"
            placeholder="description"
            class="block w-full pl-3 rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          >
          </textarea>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="comment" class="block text-sm font-montserrat font-medium leading-6 text-secondaryforeground">Commentaire</label>
        <div class="mt-2">
          <textarea
            rows="4"
            type="text"
            name="comment"
            [(ngModel)]="selectedProduct.comment"
            formControlName="comment"
            placeholder="Commentaire"
            class="block w-full pl-3 rounded-md font-montserrat border-0 py-1.5 text-secondaryforeground shadow-sm ring-1 ring-inset bg-background ring-border placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
          >
          </textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-end gap-x-6 border-t border-border px-4 py-4 sm:px-8">
    <button type="button" (click)="cancel()" class="text-sm font-semibold font-montserrat leading-6 text-secondaryforeground">Annuler</button>
    @if (selectedProduct.id) {
    <button
      type="submit"
      [disabled]="form.invalid"
      [class.bg-primary]="!form.invalid"
      [class.bg-blue-100]="form.invalid"
      (click)="updateProduct()"
      class="rounded-md bg-primary px-3 py-2 text-sm font-semibold font-montserrat text-secondary shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >
      Modifier
    </button>
    } @else {
    <button
      type="submit"
      [disabled]="form.invalid"
      [class.bg-primary]="!form.invalid"
      [class.bg-blue-100]="form.invalid"
      (click)="createProduct()"
      class="rounded-md bg-primary px-3 py-2 text-sm font-semibold font-montserrat text-secondary shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    >
      Ajouter
    </button>
    }
  </div>
</form>
