<div class="flex h-screen overflow-hidden">
  <div class="relative hidden w-0 flex-1 lg:block">
    <div class="absolute inset-0 h-full w-full object-cover bg-secondary"></div>
  </div>
  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-6 xl:px-20 2xl:px-32 bg-background border-l border-border">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=blue&shade=600" alt="Your Company" />
        <h2 class="mt-8 text-xl font-medium font-montserrat text-secondaryforeground leading-9 tracking-tight">Connectez-vous à votre compte</h2>
      </div>

      <div class="mt-10">
        <div>
          <form [formGroup]="loginForm" class="space-y-6">
            <div>
              <label for="email" class="block text-sm font-normal leading-6 text-gray-600 font-montserrat">Adresse E-mail</label>
              <div class="mt-2">
                <input
                  type="email"
                  formControlName="email"
                  id="email"
                  name="email"
                  placeholder="E-mail"
                  required
                  class="block w-full outline-none rounded-md border-0 py-2 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-lime-600 sm:text-sm sm:leading-6"
                />
                @if(loginForm.controls.email.invalid && loginForm.controls.email.touched){
                <div class="text-red-500 text-xs mt-1">L'adresse e-mail n'est pas valide</div>
                }
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm font-normal leading-6 text-gray-600 font-montserrat">Mot de passe</label>
              <div class="mt-2">
                <input
                  type="password"
                  formControlName="password"
                  id="password"
                  name="password"
                  placeholder="Mot de passe"
                  required
                  class="block w-full outline-none rounded-md border-0 py-2 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                />
                @if(loginForm.controls.password.invalid && loginForm.controls.password.touched){
                <div class="text-red-500 text-xs mt-1">Le mot de passe n'est pas valide</div>
                }
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 focus:ring-0 text-primary placeholder-primary" />
                <label for="remember-me" class="ml-3 block text-sm leading-6 text-secondaryforeground font-montserrat">Se souvenir de moi</label>
              </div>
              <div class="text-sm leading-6">
                <a href="#" class="font-montserrat font-light text-primary hover:font-normal">Mot de passe oublié?</a>
              </div>
            </div>
            <div>
              <button
                type="submit"
                (click)="login()"
                [disabled]="loginForm.invalid"
                class="flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-normal font-montserrat leading-6 text-white shadow-sm hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Se connecter
              </button>
              <div class="text-center">
                <p class="mt-2 text-sm leading-6 text-gray-600 font-montserrat">
                  Pas encore de compte ?
                  <a routerLink="/register" class="font-light text-primary hover:font-normal">Enregistrez-vous !</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
